<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="base-bg">
  <div class="top-wrapper">
    <div class="container top-panel">
      <div class="top-left">
        <h3>IoT-SNN DashBoard</h3>
        <ul class="top-menu">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/spc">Sensor Period Control</a></li>
          <li><a href="/qei">Quantitative Evaluation Item</a></li>
          <li><a href="/testbed">Testbed configuration</a></li>
        </ul>
      </div>
      <div class="top-right">
        <label id="btn-reset" style="margin-left: 15px; cursor: pointer;">Reset</label>
        <label id="currentTime"><%= recentlyTime %></label>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Quantitative Evaluation Item<br/><small>(실루엣 계수)</small></h5>
            </div>
            <div class="ibox-content">
              <div id="chart-sc" style="height: 410px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Quantitative Evaluation Item<br/><small>(에너지 절감도)</small></h5>
            </div>
            <div class="ibox-content">
              <div id="chart-prr" style="height: 410px;"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Quantitative Evaluation Item<br/><small>(데이터 신뢰도)</small></h5>
            </div>
            <div class="ibox-content">
              <div id="chart-der" style="height: 410px;"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="/javascripts/jquery-1.12.4.min.js"></script>
  <script src="/javascripts/bootstrap-3.3.7.min.js"></script>
  <script src="/javascripts/echart-4.4.0.min.js"></script>
  <script>
    let loop = null;

    $(document).ready(function() {

      // Reset
      $('#btn-reset').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "/reset",
          success: function(result) {
            if (result.result) {
              alert("초기화 완료");
              window.location.reload();
            }
          }
        });
      });

      // Data
      const scData = JSON.parse('<%- scData %>');
      const prrData = JSON.parse('<%- prrData %>');
      const dtData = JSON.parse('<%- dtData %>');

      // Chart Silhouette
      const chartSilhouette = echarts.init(document.getElementById('chart-sc'));
      const chartSilhouette_opt = {
        xAxis: [{
          type: "time",
          data: null
        }],
        yAxis: [{
          name: "(%)",
          type: "value",
          scale: true,
        }],
        legend: {
          padding: [0, 100, 0, 100],
          textStyle: {
            fontSize: 11,
          },
          data: ["실루엣 계수"]
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: "cross"
          },
          padding: [10, 20],
          formatter: function (params, ticket, callback) {
            return "Ratio : " + params[0].value[1];
          }
        },
        dataZoom: [{
          type: 'slider',
          start: 0,
          end: 100
        }],
        series: scData,
        color: ["#546e7a"]
      };
      chartSilhouette.setOption(chartSilhouette_opt);

      // Chart Power Reduction Ratio
      const chartPrr = echarts.init(document.getElementById('chart-prr'));
      const chartPrr_opt = {
        xAxis: [{
          type: "time",
          data: null
        }],
        yAxis: [{
          name: "(%)",
          type: "value",
          scale: true,
        }],
        legend: {
          padding: [0, 100, 0, 100],
          textStyle: {
            fontSize: 11,
          },
          data: ["Power Reduction Ratio"]
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: "cross"
          },
          padding: [10, 20],
          formatter: function (params, ticket, callback) {
            return "Ratio : " + params[0].value[1];
          }
        },
        dataZoom: [{
          type: 'slider',
          start: 0,
          end: 100
        }],
        series: prrData,
        color: ["#2CC185"]
      };
      chartPrr.setOption(chartPrr_opt);

      // Chart Trust Data
      const chartDataTrust = echarts.init(document.getElementById('chart-der'));
      const chartDataTrust_opt = {
        xAxis: [{
          type: "time",
          data: null
        }],
        yAxis: [{
          name: "(%)",
          type: "value",
          scale: true,
        }],
        legend: {
          padding: [0, 100, 0, 100],
          textStyle: {
            fontSize: 11,
          },
          data: ["Power Reduction Ratio"]
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: "cross"
          },
          padding: [10, 20],
          formatter: function (params, ticket, callback) {
            return "Ratio : " + params[0].value[1];
          }
        },
        dataZoom: [{
          type: 'slider',
          start: 0,
          end: 100
        }],
        series: dtData,
        color: ["#42a5f5"]
      };
      chartDataTrust.setOption(chartDataTrust_opt);

      loop = setInterval(function() {
        $.get("/next/qei", function(result) {
          chartSilhouette.setOption({ series: result.scData });
          chartPrr.setOption({ series: result.prrData });
          chartDataTrust.setOption({ series: result.dtData });

          $('#currentTime').text(result.recentlyTime);
        });
      }, 10000);

    });
  </script>
  </body>
</html>