<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="base-bg">
  <div class="top-wrapper">
    <div class="container top-panel">
      <div class="top-left">
        <h3>IoT-SNN DashBoard</h3>
        <ul class="top-menu">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/spc">Sensor Period Control</a></li>
        </ul>
      </div>
      <div class="top-right">
        <% const date = new Date(); %>
        <% const dateStr = date.getFullYear() + "-" + ((date.getMonth() + 1) > 9 ? date.getMonth() + 1 : "0"+(date.getMonth()+1)) + "-" + (date.getDate() > 9 ? date.getDate() : "0"+date.getDate()) + " " + (date.getHours() > 9 ? date.getHours() : "0"+date.getHours()) + ":" + (date.getMinutes() > 9 ? date.getMinutes() : "0"+date.getMinutes()); %>
        <label id="currentTime"><%= dateStr %></label>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Sensor Period Control</h5>
            </div>
            <div class="ibox-content">
              <div id="chart-1" style="height: 410px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/jquery-1.12.4.min.js"></script>
  <script src="/javascripts/bootstrap-3.3.7.min.js"></script>
  <script src="/javascripts/echart-4.4.0.min.js"></script>
  <script>
    let loop = null;

    $(document).ready(function() {

      // Data
      const series = JSON.parse('<%- series %>');
      const legend = series.map(function(elem) {
        return elem.name;
      });
      console.log(series);

      // Chart
      const chartPc = echarts.init(document.getElementById('chart-1'));
      const chartPc_opt = {
        xAxis: [{
          type: "time",
          data: null
        }],
        yAxis: [{
          type: "value",
          scale: true,
        }],
        legend: {
          padding: [0, 100, 0, 100],
          textStyle: {
            fontSize: 11,
          },
          data: legend
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: "cross"
          },
          padding: [10, 20],
          formatter: function (params, ticket, callback) {
            return "t : " + params[0].value[1] + " | p_t : " + params[4].value[1] +"<br/>h : " + params[1].value[1] +" | p_h : " + params[5].value[1] + "<br/>pm025 : " + params[2].value[1] +
                    " | p_pm025 : " + params[6].value[1] + "<br/>pm100 : " + params[3].value[1] + " | p_pm100 : " + params[7].value[1];
          }
        },
        dataZoom: [{
          type: 'slider',
          start: 0,
          end: 100
        }],
        series: series,
        color: ["#1b5e20", "#1b5e20", "#1b5e20", "#1b5e20", "#33e69e", "#33e69e", "#33e69e", "#33e69e"]
      };
      chartPc.setOption(chartPc_opt);

      loop = setInterval(function() {
        $.get("/next/pc", function(result) {
          chartPc.setOption({ series: result.series });
        })
      }, 10000);

    });
  </script>
  </body>
</html>