<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="base-bg">
  <div class="top-wrapper">
    <div class="container top-panel">
      <div class="top-left">
        <h3>IoT-SNN DashBoard</h3>
        <ul class="top-menu">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/spc">Sensor Period Control</a></li>
          <li><a href="/testbed">Testbed Configuration</a></li>
        </ul>
      </div>
      <div class="top-right">
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="ibox">
            <div class="ibox-title">
              <h5>Testbed Configuration</h5>
            </div>
            <div class="ibox-content">
              <div id="chart-1" style="height: 410px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/javascripts/jquery-1.12.4.min.js"></script>
  <script src="/javascripts/bootstrap-3.3.7.min.js"></script>
  <script src="/javascripts/echart-4.4.0.min.js"></script>
  <script>
    $(document).ready(function() {



    });
  </script>
  </body>
</html>